.variantfill-one {
    background-color: #B7D3F2;
}

.variantfill-two {
    background-color: #AFAFDC;
}

.variantfill-three {
    background-color: #8A84E2;
}

.variantfill-four {
    background-color: #EFEFEF;
}

.variantfill-five {
    background-color: #84AFE6;
}
